@model PersonDemo.Web.ViewModels.HomeViewModel

<h2>@Model.Title</h2>

<div class="row">
    @foreach (var p in Model.People)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <h3>
                List of Person
            </h3>
            <p>@p.FirstName</p>
            <p>@p.MiddleName</p>
            <p>@p.LastName</p>
        </div>

    }
</div>

<div class="row">
@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-heading">Add Remove input fields Dynamically using jQuery Bootstrap</div>
        <div class="panel-body">
            <form action="">

                <div class="input-group control-group after-add-more">


                    @* <input type="text" name="addmore[]" class="form-control" placeholder="Enter Name Here">*@

                    @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})


                    <div class="input-group-btn">
                        <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Add</button>
                    </div>
                </div>

            </form>


            <!-- Copy Fields-These are the fields which we get through jquery and then add after the above input,-->
            <div class="copy-fields hide">
                <div class="control-group input-group" style="margin-top: 10px">
                    @* <input type="text" name="addmore[]" class="form-control" placeholder="Enter Name Here">*@
                    @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})

                    <div class="input-group-btn">
                        <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i> Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>
        <input type="submit" value="Create" class="btn btn-success"/>
    </p>
}
</div>


<script type="text/javascript">

    $(document).ready(function () {

        //here first get the contents of the div with name class copy-fields and add it to after "after-add-more" div class.
        $(".add-more").click(function () {
            var html = $(".copy-fields").html();
            $(".after-add-more").after(html);
        });
        //here it will remove the current value of the remove button which has been pressed
        $("body").on("click", ".remove", function () {
            $(this).parents(".control-group").remove();
        });

    });

</script>

@*div.container>div.panel-heading>div.panel-body>form.action*@



@*div.container>div.panel-heading>div.panel-body>form.action*@ 


@*div.container>div.panel-heading>div.panel-body>form*@

